<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light w-100">
            
            <a class="navbar-brand" href="#">
                <img src="https://skyplay.sky.com.br/o/sky-play-theme/images/logo-sky.svg" alt="">
            </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto align-items-end">
                <li class="nav-item active">
                  <i class="fas fa-adjust"></i>
                </li>
                <li class="nav-item font-decrease">
                  <i class="fas fa-font"></i>-
                </li>
                <li class="nav-item font-increase">
                  <i class="fas fa-font"></i>+
                </li>
              </ul>

              <a href="">
                <i class="far fa-user"></i>
                Entrar
              </a>

            </div>
        </nav>

    </div>
</div>