<main>
    <header class="header">
        <app-navbar></app-navbar>
        <app-sections></app-sections>
    </header>

    <div class="caroussel">
        <ng-container *ngIf="highlight">
            <app-movie-slider [list]="highlight"></app-movie-slider>
        </ng-container>
    </div>

    <ng-container *ngFor="let item of moviesCategories">
        <app-movielist [title]="item.category" [movies]="item.movies"></app-movielist>
    </ng-container>
    
    <app-footer></app-footer>
</main>
