<main>
    <header class="header">
        <app-navbar></app-navbar>
        <app-sections></app-sections>
    </header>

    <div class="caroussel">
        <ng-container *ngIf="highlight">
            <app-movie-slider [list]="highlight"></app-movie-slider>
        </ng-container>
    </div>

    <ng-container *ngIf="moviesCategories">
        <app-movielist [title]="1" [movies]="moviesCategories"></app-movielist>
        <app-movielist [title]="2" [movies]="moviesCategories"></app-movielist>
        <app-movielist [title]="3" [movies]="moviesCategories"></app-movielist>
        <app-movielist [title]="4" [movies]="moviesCategories"></app-movielist>
        <app-movielist [title]="5" [movies]="moviesCategories"></app-movielist>
    </ng-container>
    
    <app-footer></app-footer>
</main>
