<div class="section-wrapper">
    <div class="d-flex">
        <ul class="d-flex w-100 justify-content-center">
            <li class="d-flex flex-grow-1 justify-content-center">
                <a href="" class="d-flex align-items-center flex-grow-1 justify-content-center"> Filmes </a>
            </li>
            <li class="d-flex flex-grow-1 justify-content-center">
                <a href="" class="d-flex align-items-center flex-grow-1 justify-content-center"> Séries </a>
            </li>
            <li class="d-flex flex-grow-1 justify-content-center">
                <a href="" class="d-flex align-items-center flex-grow-1 justify-content-center"> Canais </a>
            </li>
        </ul>
    </div>
</div>