:host ::ng-deep .slider-wrapper {
    height: 625px;
    overflow: hidden;
    .slick-list {
        height: 625px;
        overflow: visible;
        .slick-slide {
            transition: all 100ms 0s ease-out;
            width: 1050px;
            user-select: none;
            border-radius: 6px;
            overflow: hidden;
            &:focus {
                outline: -webkit-focus-ring-color auto 0px;
            }
            .img {
                border-radius: 6px;
                overflow: hidden;
                transition: all 100ms 0s ease-out;
            }
            img {
                margin: 0 auto;
                transition: all 300ms 0s ease-out;
                transform: scale(.8);
            }
            &.slick-active {
                img {
                    width: 100%;
                    transform: scale(1);
                }
            }
        }   
    }
}