<footer>
    <header>
        <div class="container">

            <div class="d-flex justify-content-between">
                <img src="https://skyplay.sky.com.br/o/sky-play-theme/images/sky-light-default.svg" alt="">
                <ul class="d-flex justify-content-center">
                    <li>
                        <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                        <i class="fab fa-youtube"></i>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                    </li>
                </ul>
            </div>

        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12 col-md-6">
                    <a href="http://bit.ly/MinhaSKYapp" title="Baixe no seu celular o app Minha SKY e divirta-se." data-gtm="1" class="link-sky">
                        <img src="https://skyplay.sky.com.br/o/sky-play-theme/images/minha-sky.svg" class="img-minha-sky" alt="Minha SKY">
                        <div class="SubHeading medium text-download">Baixe no seu celular o app Minha SKY e divirta-se.</div>
                    </a>
                    <div class="stores">
                        
                        <a href="http://bit.ly/MinhaSKYapp" target="_blank" title="Apple Store Skyplay" id="applestore"></a>
                        <a href="http://bit.ly/MinhaSKYapp" target="_blank" title="Google Play Skyplay" id="playstore"></a>

                    </div>

                </div>
                <div class="col-3 col-xs-12 col-md-3">
                    <h2>Sobre</h2>
                    <ul>
                        <li>Nossa História</li>
                        <li>Imprensa</li>
                        <li>Prêmios conquistados</li>
                        <li>Credenciamento</li>
                        <li>Trabalhe com a gente</li>
                        <li>Promoção</li>
                    </ul>
                    <h2>Ajuda</h2>
                    <ul>
                        <li>Central de ajuda</li>
                        <li>Manuais</li>
                    </ul>
                </div>
                <div class="col-3 col-xs-12 col-md-3">
                    <h2>Nossas responsabilidades</h2>
                    <ul>
                        <li>Conselho aos usuários</li>
                        <li>Pesquisa Anatel</li>
                        <li>Relatório de transparência</li>
                        <li>Responsabilidade Social</li>
                        <li>Acessibilidade</li>
                    </ul>
                    <h2>Sky Empresas</h2>
                </div>
            </div>
        </div>
    </main>
    <div class="footer">
        <div class="map-wrapper">
            <div class="container">
                <div class="row">
                    <ul class="d-flex justify-content-center map">
                        <li>Início </li>
                        <li>Política de Privacidade </li>
                        <li>Contratos gerais </li>
                        <li>Contratos Pré-pago </li>
                        <li>Cancelamento </li>
                        <li>Ouvidoria </li>
                        <li>Consumidor.gov</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <p>
                    ® Todos os direitos reservados 2018. Todas as marcas SKY e qualquer propriedade intelectual inserida nelas são de propriedade da SKY Internacional AG e usadas pela SKY Serviços de Banda Larga LTDA. mediante licença.
                </p>
            </div>
        </div>
    </div>
</footer>